@media screen and (max-width: 769px) /*and (min-width:768px)*/{
    .header-wrap {
        justify-content: center;
    }

    .item-2{
        
            align-items: stretch;
            flex-basis: 100%;
    }

    .info{
        text-align: center;
    }

    .nav{
        align-self: flex-start;
    }

    .stat-block{
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-evenly;
        height: 470px;
    }

    .stat-block-item{
        margin-bottom: 20px;
    }

    .numb{
        margin-bottom: 5px;
    }

    .text-item{
        flex: auto;
    }

    .steps-list-item{
        flex: 0 1 380px;
    }

    .insurance p{
        max-width: 70%;
    }
    .insurance h2{
        text-align: center;
    }

    .footer-wrap{
        flex-flow: column nowrap;
        align-items: center;
        height: 400px;
    }

    .footer-contact{
        flex-basis: 90px;
        text-align: center;
        order: 2;
    }

    .footer-social{
        flex-basis: 120px;
        align-items: center;
        justify-content: space-evenly;
        order: 3;
    }

    .autor{
        margin: unset;
    }
}

@media screen and (max-width: 1024px){
    section{
        margin-bottom: 80px;
    } 


}

@media screen and (max-width: 480px){
    
    p, li {
        font-size: 1.12rem;
    }

    .header-mail{
        margin-bottom: 20px;
    }

    .about-wrap-item-1{
        flex-basis: unset;
    }

    .bacground-form{
        padding: 60px 0;
        box-shadow: unset;
    }

    /* .weight-wrap {
        margin-right: auto;
    } */

    .insurance p{
        max-width: unset;
    }
    .send{
        margin: 0;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 360px){

    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.6rem;
    }

    .bacground-form{
        padding: 30px 0;
        box-shadow: unset;
    }

    .about-list li:before, .oversize-list li:before{
        padding: 0 10px 0 20px;
    }
}

@media screen and (max-width: 740px){

    .wrap-form{
    justify-content: center;
    padding: 60px;
    }

    .where-wrap, .from-wrap, .name-wrap, .tel-wrap{
        margin-right: unset;
    }

    .form-1 .text-area{
        flex-basis: 310px;
    }
}

@media screen and (max-width: 530px) {
    .wrap-form{
        padding: 20px;
        }
    

}

@media screen and (max-width: 410px) {
    .wrap-form{
        padding: unset;
        }
    

}
@media screen and (max-width: 620px) {
    .nav{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        margin: 0 auto;
        padding-bottom: unset;
    }

    .nav a {
        margin-bottom: 20px;
    }

    .nav a:last-child{
        margin-bottom: unset;
    }
}