.breadcrumbs-wrap {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 1.15rem;
}

.breadcrumbs-wrap li {
    font-weight: 500;
    font-size: 1.15rem;

}

.breadcrumbs-wrap a:visited {
    color: #0085FF;
}

.breadcrumbs.active {
    color: #0085FF;
    cursor: default;
}

.breadcrumbs-wrap .active::before {
    content: '/ ';
}

.breadcrumbs:hover {
    text-decoration-line: underline;

}