.search_block {
    width: 40px;
    height: 40px;
    background-image: url(/css/icon/Search.svg);
    padding: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F5F5;
    border-radius: 6px;
    margin-left: auto;
    margin-bottom: 80px;
}